/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1.154;
    position: relative;
    background: conic-gradient(from 120deg at 50% 64%,#0000, #25b09b 1deg 120deg,#0000 121deg);
    animation: l27-0 2s infinite cubic-bezier(0.3,1,0,1);
  }
  .loader:before,
  .loader:after {
    content:'';
    position: absolute;
    inset:0;
    background:inherit;
    transform-origin: 50% 66%;
    animation: l27-1 2s infinite;
  }
  .loader:after {
    --s:-1;
  }
  @keyframes l27-0 {
     0%,30%      {transform: rotate(0)}
     70%         {transform: rotate(120deg)}
     70.01%,100% {transform: rotate(360deg)}
  }
  @keyframes l27-1 {
     0%      {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
     30%,70% {transform: rotate(calc(var(--s,1)*120deg)) translate(calc(var(--s,1)*-5px),10px)}
     100%    {transform: rotate(calc(var(--s,1)*120deg)) translate(0)}
  }
  
  /* HTML: <div class="loader"></div> */
  .wtfEyes {
    height: 30px;
    aspect-ratio: 2;
    display: grid;
    background:
      radial-gradient(farthest-side,#000 15%,#0000 18%)0 0/50% 100%,
      radial-gradient(50% 100% at 50% 160%,#fff 95%,#0000) 0 0   /50% 50%,
      radial-gradient(50% 100% at 50% -60%,#fff 95%,#0000) 0 100%/50% 50%;
    background-repeat: repeat-x;
    animation: l2 1.5s infinite linear;
  }
  @keyframes l2 {
    0%,
    15% {background-position:0   0,0 0,0 100%}
    20%,
    40% {background-position:5px 0,0 0,0 100%}
    45%,
    55% {background-position:0   0,0 0,0 100%}
    60%,
    80%{background-position:-5px 0,0 0,0 100%}
    85%,
    100% {background-position:0   0,0 0,0 100%}
  }
  
  /* HTML: <div class="loader"></div> */
  .ErrorEyes {
    display: inline-flex;
    gap: 10px;
  }
  .ErrorEyes:before,
  .ErrorEyes:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
      #fff;
    transform: scaleX(var(--s,1)) rotate(0deg);
    animation: l6 1s infinite linear;
  }
  .ErrorEyes:after {
    --s: -1;
    animation-delay:-0.1s;
  }
  @keyframes l6 {
    100% {transform:scaleX(var(--s,1)) rotate(360deg);}
  }




.custom-block-base {
    width: var(--block-width);
    height: var(--block-height);

    top: var(--block-pos-y);
    left: var(--block-pos-x);

    position: relative;
    display: block;

    border-radius: 10px;
    background-color: rgb(120, 120, 120);
    border: 1px gray solid;
}
.custom-block-base > .grabber {
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    position: absolute;

    width: 40px;
    height: 20px;
    cursor: pointer;
    border-radius: 0px 0px 4px 4px;
    background-color: rgb(48, 48, 48);
}
.custom-block-base > .grabber > svg {
    width: 100%;
    height: 100%;
    fill: rgb(174, 174, 174);
}

.custom-block-base > .sizer {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    position: absolute;

    width: 15px;
    height: 15px;
    border-radius: 7px;
    cursor: nwse-resize;
    background-image: linear-gradient(135deg, transparent 0%,
    transparent 30%, black 30.1%,
    black 35%, transparent 35.1%,

    transparent 47%, black 47.1%,
    black 56%, transparent 56.1%,

    transparent 65%, black 65.1%,
    black 75%, transparent 75.1%,

    transparent 100%);
}

.custom-block-base > .input-side {
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

    width: 17px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.custom-block-base > .input-side > .block-input {
    width: auto;
    max-width: calc(var(--block-width) / 3) + 'px';
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    padding: 2px 4px;
}

.custom-block-base > .input-side > .block-input > .target-point {
    width: 10px;
    height: 10px;
    background-color: rgb(177, 5, 5);
    transform: rotateZ(45deg);
    margin-right: 7px;
}

.custom-block-base > .input-side > .block-input > p {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: large;
}

.custom-block-base > .output-side, block-input > .output-side {
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;

    width: 17px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

.custom-block-base > .output-side > .block-output, block-input > .output-side > .block-output {
    width: auto;
    max-width: calc(var(--block-width) / 3) + 'px';
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    padding: 2px 4px;
}

.custom-block-base > .output-side > .block-output > .target-point, block-input > .output-side > .block-output > .target-point {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 200, 0);
    transform: rotateZ(45deg);
    margin-left: 7px;
}

.custom-block-base > .output-side > .block-output > p, block-input > .output-side > .block-output > p {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: large;
}

.custom-base-event {
    position: absolute;
    width: var(--block-width);
    height: var(--block-height);
    top: var(--block-pos-y);
    left: var(--block-pos-x);
    transform: rotateZ(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: rgb(43, 43, 43);
}

.custom-base-event > h2 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: larger;
    transform: rotateZ(-45deg);
    white-space: nowrap;
}

.custom-base-event > .target-point {
    width: 10px;
    height: 10px;
    background-color: rgb(177, 5, 5);
    position: absolute;
    right: 0px;
    bottom: 0px;
}